*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* Adds row and col gap between the cards */

    background-color: beige;
    border: 1px solid black;
}

.logo-img {
    justify-self: start;
    align-self: start;
}

.logo-img > img {
    width: 150px;
    height: 75px;
    margin:5px;
}

.nav-items-container {
    justify-self: end; /* w.r.t parent grid*/

    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    place-items:center;
}

.nav-items {
    height: fit-content;
    width: fit-content;
    margin: 0px 25px;
    font-weight:500;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: red;
        cursor: pointer;
    }
}

.nav-items a {
    text-decoration: none;
    color: black;

    &:hover {
        color: red;
        cursor: pointer;
    }
}

.body{
    display: flex;
    height:auto;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    background-color: beige;
    border: 1px solid black;
}

.res-menu-container {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    padding: 10px 200px;
}

.res-menu-path { 
    display: flex;

    justify-self: center;

    margin: 10px 0px;

    height: 25px;
    font-size: 10px;
    color: lightslategrey;

    &>span {
        margin: 0px 2px;
    }
}

.res-menu-name {
    margin: 10px 0px;    
}

.quick-info-card {
    margin: 15px 0px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 
                0 10px 16px rgba(0, 0, 0, 0.05);

    border-radius: 20px;

    padding: 15px;
    border: 1px solid black;
}

.quick-info-first {
    display: flex;
    align-items: center;
    margin: 7px 0px;

    &>img {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }

    &>span {
        font-weight: bold;
    }
}

.quick-info-first-dot {
    margin: 0px 8px;
}

.quick-info-second {
    margin: 7px 0px;
    color: green;
    font-weight: 600;
}

.quick-info-third {
    display: flex;
    align-items: center;

    &>img {
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }

    &>span {
        font-weight: bold;
        margin-right: 15px;
    }

    &>p{
        font-size: small;
        color: grey;
        margin: 0px;
    }
}

.quick-info-fourth {
    display: flex;
    align-items: center;

    &>img {
        height: 15px;
        width: 15px;
        margin: 0px 5px;
    }

    &>span {
        font-weight: 550;
        font-size: medium;
        margin-left: 8px;
    }

}


.search-bar-container {
    display: flex;
    flex-basis: 100%; /* occupies the entire width */
    /* height: 35px; */
    margin: 10px 5px;

    background-color: rgb(244, 228, 209);
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    &>input {
        padding: 5px;
        height: 30px;
        border: none;
        border-radius: 5px;
        flex-grow: 1; /* Make the input take up remaining space */
        max-width: 300px; /* Optional: Set a max width for the search bar */
        margin-left: 50px; /* Add space between the last button and search bar */
    }
}

.search-bar-btn{
    justify-self: flex-start;

    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 3px 6px;
    margin: 5px;
    background-color: rgb(37, 180, 92);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
        transform: scale(0.90);
        transition: transform 0.3s ease;
    }
}

.res-card-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*1 columns with each of equal distribution */
    place-items: center; /* places items at center of the cell */
    gap: 20px; /* Adds row and col gap between the cards */
}

.shimmer-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*1 columns with each of equal distribution */
    place-items: center; /* places items at center of the cell */
    gap: 20px; /* Adds row and col gap between the cards */
}

.shimmer-item {
    margin: 5px;
    padding: 8px;

    height: 280px;
    width: 330px;

    display: flex;
    flex-wrap: wrap;

    background-color: whitesmoke;  
    border: 0.5px solid black;
    border-radius: 15px;
}

.res-card {
    margin: 5px;
    padding: 8px;

    height: fit-content;
    width: 330px;

    display: flex;
    flex-wrap: wrap;

    background-color: whitesmoke;  
    border: 0.5px solid black;
    border-radius: 15px;
    & p {
        margin: 8px 0;
        font-size: 16px;
        flex-basis: 100%;
        /* text-align: center; */
    }
    &:hover {
        cursor: pointer;
        border: 0.8px solid black;
        box-shadow: 5px 5px 5px rgba(70, 69, 69, 0.3); /* Creates a soft shadow */
        transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
        transform: scale(0.95); /*Grows by 5% on hover*/
        transition: transform 0.3s ease; /* Smooth transition */
    }
}

.res-card-img {
    width: 230px;
    height: 120px;
    flex-basis: 80%;
    justify-self: center;
    object-fit: cover; /* Ensures the image maintains its aspect ratio while fitting the container*/
    border-radius: 10px;
    margin:5px;
}

.footer {
    display: grid;
    row-gap: 1rem; /* Adds row and col gap between the cards */
    justify-items: center;

    background-color: beige;
    border: 1px solid black;
}

.app-down-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.app-down-promo {
    justify-self: end;
    align-self: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #585858;
    line-height: 1.2;
    padding: 20px;
}

.app-down-info {
    display: flex;
    justify-content: start;
    align-items: center;
}

.app-down-item {
    margin: 10px;
}

.app-down-item>img{
    height: 60px;
    width: 210px;
}

.app-info-container {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    column-gap: 20px;
    row-gap: 10px;
    padding: 10px 0px;
}

.app-info-container>div {
    border: 1px solid black;
    /* height: 100px;
    width: 100px; */
}

.company {
    grid-column: 1 / 2; /* Occupies the first column */
    grid-row-start: 1;
    grid-row-end: 3;
    height: auto;
}

.company-info>h1, p {
    margin:10px;
}

.company-info>h1 >img {
    height: 30px;
    width: 30px;
}

.company-details-container>h2 {
    margin:10px;
}

.company-details-items {
    margin: 10px;
}

.delivery-details-container>h2 {
    margin: 10px;
}

.delivery-details-items {
    margin: 10px;
}

.content1-details-container>h2 {
    margin: 10px;
}

.content1-details-items {
    margin: 10px;
}

.content2-details-container>h2 {
    margin: 10px;
}

.content2-details-items {
    margin: 10px;
}

.sidebar1 {
    grid-column: 2 / 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sidebar2 {
    grid-column: 4 / 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

@media (max-width: 565px){
    .nav-items-container {
        justify-self: center; /* w.r.t parent grid*/
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .header {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        background-color: beige;
        border: 1px solid black;
    }
    .logo-img {
        place-self: center;
    }
}

@media (min-width: 1050px){
    .res-card-container {
        grid-template-columns: repeat(4, 1fr); 
    }
    .shimmer-container {
        grid-template-columns: repeat(4, 1fr); 
    }
}